.arama-input {
    display: flex;
    flex-direction: column;
    height: 25px;
    width: 700px;
    margin-top: 60px;
    margin-left: 270px;
}

.buton {
    cursor: pointer;
    height: 25px;
    width: 60px;
    background-color: rgb(113, 116, 112);
    margin-top: 16px;
    margin-left: 950px;
}

.arama-main {
    padding-bottom: 16px;
    height: 150px;
    width: 1500px;
    background-color: rgb(255, 255, 255);
    border: none;
}

.search-title {
    margin-top: 75px;
    margin-left: 280px;
    white-space: nowrap;
    color: black;
}

.computer-foto {
    cursor: pointer;
    width: 500px;
    height: 350px;
    margin-left: 80px;
    transition: transform 0.3s ease;

}

.computer-foto:hover {
    transform: scale(1.1);
}

.smart-foto {
    cursor: pointer;
    width: 500px;
    height: 350px;
    margin-left: 80px;
    transition: transform 0.3s ease;
}

.smart-foto:hover {
    transform: scale(1.1);
}

.television-foto {
    cursor: pointer;
    width: 500px;
    height: 350px;
    margin-left: 80px;
    margin-top: 40px;
    transition: transform 0.3s ease;
}

.television-foto:hover {
    transform: scale(1.1);
}

.telephone-foto {
    cursor: pointer;
    width: 500px;
    height: 350px;
    margin-left: 80px;
    transition: transform 0.3s ease;
}

.telephone-foto:hover {
    transform: scale(1.1);
}

.search-foto {
    margin-top: 100px;
}


.image-gallery {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.image-item {
    margin-right: 80px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    width: 270px;
    /* Genişliği artırdım */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-item img {
    width: 270px;
    /* Genişliği artırdım */
    height: 180px;
    /* Yüksekliği de artırdım */
    border: 1px solid #ddd;
    border-radius: 8px;
}



.image-details {
    color: aqua;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
}

.image-name,
.image-price {
    flex: 1;
    text-align: center;
    border: 1px solid #ccc;
    /* Border eklendi */
    padding: 10px;
}

.image-name {
    border-right: 1px solid #ccc;
    /* Sağda border */
}